.carrousel-container {
  height: 100px; /* hauteur fixe */
  width: 400px; /* largeur fixe */
  white-space: nowrap; /* empêcher le retour à la ligne */


}

.div_carrousel{

  display: flex;

}

.img_carrousel{

  width: 100%;
  height: 100%;
  border-radius: 25px;

  object-fit: cover;
}

.carrousel {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  
  height: 40vh;
  width: 100%;

  @media screen and (max-width: $width_mobile) {

    width: 90vw;
    position: relative;
    left: -6%;


  }

}


.carrousel_left{

  position: relative;
  left: 5%;
  top: 14vh;

  @media screen and (max-width: $width_mobile) {

    top:17vh;

    z-index: 1;

  }

}

.carrousel_right{

  position: relative;
    top: 14vh;
    right: 4%;

    @media screen and (max-width: $width_mobile) {

      right: 15vw;
      top: 16.6vh;

    }

}

.fleche_left_carrousel{

  @media screen and (max-width: $width_mobile) {

    width: 7vw;

  }

}

.fleche_right_carrousel{

  transform: rotate(180deg);

  @media screen and (max-width: $width_mobile) {

    width: 7vw;

  }

}

.nb_picture{
  color: $white;
display: flex;
  position: relative;
    top: 93%;
    left: 49%;

}