
.barre_description{

color: $white;

background-color: $rouge;

font-size: 18px;

height: 52px;
border-radius: 10px;

display: flex;
    justify-content: space-between;

    padding-left: 3%;
    padding-right: 3%;
}


.div_description{

    background-color: $grey;
    width: 42%;
    height: 23vh;

}

.text_description{

    color: $rouge;
    font-size: 18px;

    margin-top: 5%;
    margin-left: 1%;

}


.composant_description{

    display: flex;
    justify-content: space-around;
    width: 102%;

}

.el_barre{

    position: relative;

    top:34%;

}