.main_div_logement{

    display: flex;
    justify-content: space-between;
    width: 98%;
    height: 15vh;

    margin-top: 1%;
    margin-bottom: 2%;


    @media screen and (max-width: $width_mobile),
    only screen and (min-width: $min_width_tablette) and (max-width: $max_width_tabellette) {

 display: block;
 height: 100%;

}


}

.title_logement_page{

    font-size: 36px;

color:$rouge;


@media screen and (max-width: $width_mobile),
only screen and (min-width: $min_width_tablette) and (max-width: $max_width_tabellette) {


    margin-top: 5%;
    margin-bottom: 6%;

}


}

.div_tag{

    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 13%;


    @media only screen and (min-width: $min_width_tablette) and (max-width: $max_width_tabellette) {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    width: 68vw;

    }

}

.div_text_tag{

    border-radius: 10px;

    font-size: 14px;
 
    background-color: $rouge;
    color: $white;

   
    width: 24%;

    margin-right: 3%;


    @media screen and (max-width: $width_mobile) {

        margin-block-start: 2%;
  
    width: 39vw;

    height: 8vw;

    }

    @media only screen and (min-width: $min_width_tablette) and (max-width: $max_width_tabellette) {

        margin-block-start: 2%;
  
        width: 39vw;
    
        height: 4vw;
    

    }


}

.div_logement{

    position: relative;
    left: 7vh;
    width: 50%;

    @media screen and (max-width: $width_mobile) {

        left: 0vh;
        width: 90vw;

    }

    @media only screen and (min-width: $min_width_tablette) and (max-width: $max_width_tabellette) {

        left: 2vh;

    }

}

.text_tag{

    color: $white;

    position: relative;
    left: 20%;
    top: -18%;

    @media screen and (max-width: $width_mobile),
    only screen and (min-width: $min_width_tablette) and (max-width: $max_width_tabellette) {


       left: 0%;
       top:-21%;

       margin-left: 10%;

    }

}


.sous_title_logement_page{

    color: $rouge;

    font-size: 18px;

    position: relative;
    top: 3%;

    @media screen and (max-width: $width_mobile),
    only screen and (min-width: $min_width_tablette) and (max-width: $max_width_tabellette) {


        margin-bottom: 7%;

    }

}

.div_host{

    display: flex;

    @media screen and (max-width: $width_mobile),
    only screen and (min-width: $min_width_tablette) and (max-width: $max_width_tabellette) {


        position: relative;
        top: 4vw;

    }

}

.name_host{
    margin-right: 2%;
    font-size: 18px;
    color: $rouge;

    position: relative;
    top: 2vh;
    width: 100%;


    @media screen and (max-width: $width_mobile),
    only screen and (min-width: $min_width_tablette) and (max-width: $max_width_tabellette) {


        top:0vh;
        left: 42vw;

    }

}

.img_host{

    border-radius: 100%;
    width: 64px;

    @media screen and (max-width: $width_mobile){


        width: 45px;
        position: relative;
        top: 2vw;
    

    }


    @media  screen and (min-width: $min_width_tablette) and (max-width: $max_width_tabellette) {

  width: 102px;

}

}

.div_etoile{

    display: flex;
    justify-content: space-evenly;

    margin-top: 10%;

    @media screen and (max-width: $width_mobile){


        justify-content: normal;
        position: relative;
        top: -8vh;


    }

    @media screen and (min-width: $min_width_tablette) and (max-width: $max_width_tabellette) {

        justify-content: normal;
        position: relative;
        top: -12vh;
        left: 4%;


    }

}

.text_name_host{


    @media screen and (max-width: $width_mobile){

        position: relative;
        left: 26%;
        width: 20%;
        font-size: 15px;
    
    }

    @media  screen and (min-width: $min_width_tablette) and (max-width: $max_width_tabellette) {

        position: relative;
        left: 26%;
        width: 20%;
        font-size: 28px;

    }
    
}

.etoile{

    @media screen and (max-width: $width_mobile),
    only screen and (min-width: $min_width_tablette) and (max-width: $max_width_tabellette) {

        width: 5vw;
        margin-right: 1vw;

    }

}