.main_div_logement{

    display: flex;
    justify-content: space-between;
    width: 98%;
    height: 15vh;

    margin-top: 1%;
    margin-bottom: 2%;

}

.title_logement_page{

    font-size: 36px;

color:$rouge;



}

.div_tag{

    display: flex;
    position: relative;
    top: 13%;
}

.div_text_tag{

    border-radius: 10px;

    font-size: 14px;
 
    background-color: $rouge;
    color: $white;

    height: 3.5vh;
    width: 24%;

    margin-right: 3%;


}

.div_logement{

    position: relative;
    left: 7vh;
    width: 50%;

}

.text_tag{

    color: $white;

    position: relative;
    left: 20%;
    top: -18%;

}


.sous_title_logement_page{

    color: $rouge;

    font-size: 18px;

    position: relative;
    top: 3%;

}

.div_host{

    display: flex;

}

.name_host{
    margin-right: 2%;
    font-size: 18px;
    color: $rouge;

    position: relative;
    top: 2vh;
    width: 100%;

}

.img_host{

    border-radius: 100%;
    width: 64px;

}

.div_etoile{

    display: flex;
    justify-content: space-evenly;

    margin-top: 10%;

}