.container_propos{

    position: relative;
    top: 78px;
    width: 66%;
    left: 18%;

    @media screen and (max-width: $width_mobile) {

        top:6vh;
        width: 100%;
        left: 0%;
    

    }

    @media only screen and (min-width: $min_width_tablette) and (max-width: $max_width_tabellette) {

  left: 0%;
  width: 100%;

    }

}