html{

    
    overflow-x: hidden;

}

body{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    font-family: 'Montserrat', sans-serif;
    background : $white;

    max-width: 100vw;
}

.img{
    object-fit: cover;
}