nav{

    display: flex;
    width: 30vh;
    justify-content: space-evenly;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    color: $rouge;

    position: relative;
    top: 24%;

}



a{

    text-decoration: none;
    color: $rouge;

}