
.div_image_dacceuil{

    width: 52vh;
      height: 44vh;
  

      @media screen and (max-width: $width_mobile) {

        width: 100%;
        height: 35vh;

      }

      @media only screen and (min-width: $min_width_tablette) and (max-width: $max_width_tabellette) {

        width: 100%;
        height: 35vh;


      }
  
  }