.list_card_acceuil{

    background-color: $grey;
    border-radius: 25px;
    position: relative;
    top: 62px;

    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: $width_mobile) {

        top:5vh;
        background-color: white;

        display: block;

    }


}

.div_image_acceuil{

    width: 49vh;
    height: 34vh;

}

.image_acceuil{

    border-radius: 10px;
    width: 100%;
    height: 100%;

}

.card_acceuil{

    width: 26%;
    margin-right: 57px;
    margin-top: 3%;
    margin-left: 3%;


    @media screen and (max-width: $width_mobile) {

        margin-left: 0%;
        width: 100%;

    }
}