.title_logement{

    position: relative;
    top: -7%;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;

    color:$white;


    @media screen and (max-width: $width_mobile) {

        top: -7vw;

    }

}