.image_nofound{

    position: relative;
    left: 23%;

    @media screen and (max-width: $width_mobile) {
    
    top: 15vh;
    left: 14%;

    }


    @media only screen and (min-width: $min_width_tablette) and (max-width: $max_width_tabellette) {

        top: 15vh;
        left: 7%;

    }
}

.img_nofound{

    @media screen and (max-width: $width_mobile) {
    width: 44vw;
    
}

}