.text_nofound{


    color: $rouge;


font-style: normal;
font-weight: 500;
font-size: 36px;



position: absolute;
   
    right: 40.14%;
    top: 38%;
    bottom: 15.53%;



}

.link{

    
    text-decoration: underline;


    text-decoration: underline;
    position: relative;
    left: 31%;
    top: 30vh;


}

.div_imagenofound{

    height: 54vh;
}